@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@600&display=swap');
*{
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bitter', serif;

}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #8321df);
}

.calculator{
    border: 1px solid #5f5252;
    border-radius: 16px;
    padding: 20px;
    background: transparent;
    box-shadow: 30px 30px 15px rgba(0, 0, 0, 0.55);
}

input{
    width: 320px;
    /* border: none; */
    border-radius: 10px;
    margin: 10px;
    padding: 24px;
    border: 5px double rgb(255, 255, 255);

    background: transparent;
    box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
    font-size: 40px;
    cursor: pointer;
    text-align: right;
    color: #ffffff;
}

input::placeholder{
    color: #ffffff;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    cursor: pointer;
    
    border-radius: 38%;
    border-top: 2px solid black ;
    border-left: 2px solid black ;
    
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    
    box-shadow: 4px 3px 5px rgb(255, 246, 246);
    /* box-shadow: -4px 3px 5px rgb(255, 246, 246); */
}




.equal8tn{
    background-color: #fe7607;
    font-weight: 900;
}

.op{
    color: rgb(13, 255, 0);
    font-weight: 900;
    /* background-color: rgb(246, 246, 91); */
}

.owner{
    color: rgb(255, 255, 255);
    font-size: 11px;
}







